@import "tailwindcss";

@import "tw-animate-css";

@font-face {
  font-family: "ClashDisplay";
  src: url("/fonts/ClashDisplay-Variable.ttf") format("truetype");
  font-display: swap;
}

.gridTek{
  padding: 10px;
  column-count: 6;
}

.font-clash {
  font-family: "ClashDisplay", sans-serif;
}

