@import "tailwindcss";

@font-face {
  font-family: "ClashDisplay";
  src: url("/fonts/ClashDisplay-Variable.ttf") format("truetype");
  font-display: swap;
}

.font-clash {
  font-family: "ClashDisplay", sans-serif;
}

@keyframes fade-in-bg {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

 .fade-in-bg {
  animation: fade-in-bg 2s ease-in-out forwards;
}
