
---
import "../styles/global.css"
---

<html>
	<head>
		<title>Portfolio ahh</title>
	</head>
	<body class="bg-[url('../assets/falcon.jpg')] fade-in-bg  bg-top bg-contain bg-repeat-x min-h-[100vh]">
		<div class="align-middle">
			<p class="text-9xl font-clash font-semibold font-stretch-110%">HELLO THERE, I AM</p>
			<p class="text-9xl font-clash font-semibold font-stretch-110%">HELLO THERE, I AM</p>
			<p class="text-9xl font-clash font-semibold font-stretch-110%">HELLO THERE, I AM</p>
				<p class="text-9xl font-clash font-semibold font-stretch-110%">HELLO THERE, I AM</p>
		<p class="text-9xl font-clash font-semibold font-stretch-110%">HELLO THERE, I AM</p>
			<p class="text-9xl font-clash font-semibold font-stretch-110%">HELLO THERE, I AM</p>
			<p class="text-9xl font-clash font-semibold font-stretch-110%">HELLO THERE, I AM</p>
			<p class="text-9xl font-clash font-semibold font-stretch-110%">HELLO THERE, I AM</p>
			<p class="text-9xl font-clash font-semibold font-stretch-110%">HELLO THERE, I AM</p>
			<p class="text-9xl font-clash font-semibold font-stretch-110%">HELLO THERE, I AM</p>
			<p class="text-9xl font-clash font-semibold font-stretch-110%">HELLO THERE, I AM</p>
			<p class="text-9xl font-clash font-semibold font-stretch-110%">HELLO THERE, I AM</p>

			<p class="text-9xl font-clash font-semibold font-stretch-110%">HELLO THERE, I AM</p>
			<p class="text-9xl font-clash font-semibold font-stretch-110%">HELLO THERE, I AM</p>
			<p class="text-9xl font-clash font-semibold font-stretch-110%">HELLO THERE, I AM</p>
			<p class="text-9xl font-clash font-semibold font-stretch-110%">HELLO THERE, I AM</p>
			<p class="text-9xl font-clash font-semibold font-stretch-110%">HELLO THERE, I AM</p>
			<p class="text-9xl font-clash font-semibold font-stretch-110%">HELLO THERE, I AM</p>
			<p class="text-9xl font-clash font-semibold font-stretch-110%">HELLO THERE, I AM</p>

		</div>
	</body>
</html>
