---
import "../styles/global.css";
const { url, name } = Astro.props;
let max_w = 40;
let min_w = 38;
let max_h = 32 * 3;
let min_h = 24 * 3;
let width_ = Math.random() * (max_w - min_w) + min_w;
let height_ = Math.random() * (max_h - min_h) + min_h;
---

<div
  class="break-inside-avoid flex bg-[#1D1F2F]/50 rounded-2xl justify-center border border-white/10 items-center mb-3 focus:scale-150 focus-transform focus-500 focus:border-1 focus:border-white focus:bg-[#1D1F2F]/70 hover:scale-150 transition-transform duration-500 hover:border-1 hover:border-white hover:bg-[#1D1F2F]/70"
  style={`width: ${height_}px; height: ${height_}px`}
>
  <img src={url} width="32" height="32" class="m-[0px]" />
</div>
